#latex processing files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

#backup files
*~

#caches matrices
MatLab/UFget/mat
MatLab/UFget/matrices
MatLab/UFget/MM
MatLab/UFget/RB
MatLab/UFget/svd

#pcg error test results
MatLab/pcg results - *.mat

#compiled mex files
*.mexa64


#bin for hpcg
hpcg/Linux_Serial_Mixed/*/*
hpcg/Linux_Serial_Single/*/*
hpcg/Linux_Serial_Double/*
